<%= simple_form_for [service, service_item], url: admin_service_service_items_path(service) do |f| %>

  <div id="new-service-item-form" class="service-item hidden">
    <div class="service-item-content service-item-info title-bold">
      <%= f.input :content, label: 'Content of the Service Item', error: 'Content is mandatory, please specify one', label: false, placeholder: "content..." %>
    </div>
    <div class="service-item-additional-information service-item-info title-bold">
      <%= f.input :additional_information, label: 'Add some information to display to the user', label: false, placeholder: "information...", as: :string %>
    </div>
    <div class="service-item-category service-item-info title-bold">
      <%= f.input :category, label: 'Category of the Service Item', error: 'Category is mandatory, please specify one', collection: ["information", "task"], label: false %>
    </div>
    <div class="service-item-type service-item-info title-bold">
      <%= f.input :data_type, label: 'Data type of the Service Item', error: 'Data type is mandatory, please specify one', collection: ["text", "number", "date", "datetime-local", "address"], label: false %>
    </div>
    <div class="service-item-price service-item-info title-bold">
      <%= f.input :unit_price, label: 'Unit price of the Servie Item', error: 'Unit price is mandatory, please specify one', label: false, placeholder: "unit price..." %>
    </div>
    <div class="service-item-action service-item-info title-bold">
      <%= f.button :submit, "Create", class: "new-service-btn"%>
    </div>
  </div>
<% end %>

