
<div class="admin-services-page">

  <div class="manage-services-header">
    <h1 class="services-title">Manage your services</h1>
    <hr/>
    <%= link_to new_admin_service_path, class: "rounded-btn" do %>
      <i class="fas fa-plus"></i>
      <div class="a-text">
        New service
      </div>
    <% end %>
  </div>

  <div class="services">
    <% @services.each do |service| %>
      <div class="service-wrapper">

        <div class="service-name-wrapper">

          <%= link_to admin_service_path(service), class: "service-name" do %>
          <!-- <div class="service-name"> -->
            <%= service.name %>
          <!-- </div> -->
          <% end %>

          <%= render "admin_btns", service_mango: service %>
        </div>

        <div class="service-description">
          <p>
            <%= service.description %>
          </p>
        </div>
        <div class="service-items">

          <%= render "service_items_headers" %>

          <% service.service_items.each do |service_item| %>
            <%= render "service_item", service_mango: service, service_item_mango: service_item %>
            <%#= render "service_item_btns", service_item_mango: service_item %>
          <% end %>

          <div id="new-service-item-form-btn" class="js-new-service-item-form-btn rounded-btn set-width">
            <i class="fas fa-plus"></i>
            <div class="a-text">
              New service item
            </div>
          </div>

          <%= render "new_service_item_form", service: service, service_item: @service_item %>

        </div>
      </div>
    <% end %>
  </div>
</div>

