
<div class="row">
<% @order_items.each do |order_item| %>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card cards-container">
        <div class=" dashboard-tasks-card">
          <p class="dashboard-card-title"><strong><%= order_item.service_item.service.name.capitalize %></strong></p>
          <div class="separator"></div>
          <br>
          <p><%= cl_image_tag("order_white_icon",
          width: 15,crop: :fill) %> Order # <%= order_item.order.id %></p>
          <br>
          <p><%= order_item.service_item.content.capitalize %> => <%= order_item.content %></p>
          <%= simple_form_for [:admin, order_item] do |f| %>
            <%= f.input :completed, input_html: {value: !order_item.completed }, as: :hidden %>
            <!-- button -->
            <%= button_tag type: 'submit', class: "not-btn" do %>
              <% if order_item.completed %>
              <p>Completed</p>
                <i class="fas fa-toggle-on"></i>
              <% else %>
                <p>Pending</p>
                <i class="fas fa-toggle-off"></i>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
<% end %>
</div>
