<div class="card dashboard-big-tasks-card">
      <h3><strong>FILTERS</strong></h3>
        <%= form_tag admin_orders_path, method: :get do %>
        <!-- Filter by service -->
        <br>
        <div class="service-filter">
          <p class="form-text"><%= label_tag :service %></p>
          <%= select_tag "service", options_from_collection_for_select(Service.all, "id", "name"), prompt: "Filter by  service", :class => 'form_tag form-text' %>
        </div>
        <!-- Filter by status -->
        <br>
      <div class="form-row">
        <div class="service-filter">

          <p class="form-text"><%= label_tag :status%></p>
          <%= select_tag "status", options_for_select([ "Completed", "Pending" ], "Filter by status"), :class => 'form_tag form-text' %>
        </div>
      </div>
        <!-- submit -->
        <br>
      <div class="form-row">
        <%= submit_tag "Submit", :class => 'rounded-btn-no-flex' %>
        <% end %>
      </div>


        <!-- Display metrics -->
      <% tasks = Array.new %>
      <% mail_tasks = Array.new %>
      <% clearance_tasks = Array.new %>
      <% contract_tasks = Array.new %>

      <% @order_items.each do |order_item| %>
        <% if order_item.completed == false && order_item.service_item.category == "task" %>
          <% tasks << order_item %>
            <% if order_item.service_item.service.name == "Mail Forwarding" %>
              <% mail_tasks << order_item %>
            <% elsif order_item.service_item.service.name == "House Clearance" %>
              <% mail_tasks << order_item %>
            <% elsif order_item.service_item.service.name == "Contract Cancellation" %>
              <% contract_tasks << order_item %>
            <% end %>
        <% end %>
      <% end %>

      <!-- metrics count -->
      <div style="background-color: #B9B999" class="metrics-box tasks-metrics background-color">
        <p class="dashboard-card-title"><%= tasks.count %></p>
        <p><%= cl_image_tag("task_black_icon",
        width: 15,crop: :fill) %>  Pending Tasks</p>
      </div>

      <!-- clearance count -->
      <div class="metrics-box tasks-metrics">
        <p class="dashboard-card-title"><%= clearance_tasks.count %></p>
        <p><%= cl_image_tag("moving_icon_black",
        width: 15,crop: :fill) %>  House clearance</p>
      </div>

      <!-- mail count -->
      <div class="metrics-box tasks-metrics">
        <p class="dashboard-card-title"><%= mail_tasks.count %></p>
        <p><%= cl_image_tag("mail_black_icon",
        width: 15,crop: :fill) %>  Mail forwarding</p>
      </div>

      <!-- contract count -->
      <div class="metrics-box tasks-metrics">
        <p class="dashboard-card-title"><%= contract_tasks.count %></p>
        <p><%= cl_image_tag("contract_black_icon",
        width: 15,crop: :fill) %>  Contract cancellation</p>
      </div>

</div>
