<div class="card dashboard-big-tasks-card">
      <h3><strong>FILTERS</strong></h3>
        <%= form_tag admin_orders_path, method: :get do %>
        <!-- Filter by service -->
        <br>
        <div class="service-filter">
          <p class="form-text"><%= label_tag :service %></p>
          <%= select_tag "service", options_from_collection_for_select(Service.all, "id", "name"), prompt: "Filter by  service", :class => 'form_tag form-text' %>
        </div>
        <!-- Filter by status -->
        <br>
      <div class="form-row">
        <div class="service-filter">

          <p class="form-text"><%= label_tag :status%></p>
          <%= select_tag "status", options_for_select([ "Completed", "Pending" ], "Filter by status"), :class => 'form_tag form-text' %>
        </div>
      </div>
        <!-- submit -->
        <br>
      <div class="form-row">
        <%= submit_tag "Submit", :class => 'admin-rounded-btn' %>
        <% end %>
      </div>


        <!-- Display metrics -->
        <br>
        <br>
      <% tasks = Array.new %>
      <% mail_tasks = Array.new %>
      <% clearance_tasks = Array.new %>
      <% contract_tasks = Array.new %>
      <% @order_items.each do |order_item| %>
        <% if order_item.completed == false && order_item.service_item.category == "task" %>
          <% tasks << order_item %>
            <% if order_item.service_item.service.name == "Mail Forwarding" %>
              <% mail_tasks << order_item %>
            <% elsif order_item.service_item.service.name == "House Clearance" %>
              <% mail_tasks << order_item %>
            <% elsif order_item.service_item.service.name == "Contract Cancellation" %>
              <% contract_tasks << order_item %>
            <% end %>
        <% end %>
      <% end %>
      <h4><img style="height:25px" src="../assets/task_black_icon.png" alt="task"> Pending Tasks</h4>
      <h4><%= tasks.count %></h4>
      <br>
      <h4><img style="height:25px" src="../assets/task_black_icon.png" alt="task">  House clearance</h4>
      <h4><%= clearance_tasks.count %></h4>
      <br>
      <h4><img style="height:25px" src="../assets/task_black_icon.png" alt="task">  Mail Forwarding</h4>
      <h4><%= mail_tasks.count %></h4>
      <br>
      <h4><img style="height:25px" src="../assets/task_black_icon.png" alt="task">  Contract cancellation</h4>
      <h4><%= contract_tasks.count %></h4>
</div>
