<div class="container">
  <div class="row">

    <div class="row margin-top">
    <div class="col-xs-12 col-sm-4">
      <div class="card dashboard-metric-card" style = "background-color: rgb(171,149,132) ">
      <%= User.all.count %>
        <p>Total users</p>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card dashboard-metric-card" style = "background-color: rgb(213,196,141) ">
        <h4>Purchasing users</h4>
        <% active_users = Array.new %>
        <% User.all.each do |any_user| %>
        <% unless any_user.orders.count == 0 %>
        <% active_users << any_user %>
        <% end %>
        <% end %>
        <%= active_users.count %>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card dashboard-metric-card" style = "background-color: rgb(195,156,107) ">
        <h4>Active users</h4>
        <% users = Order.where(:created_at => Date.parse("01-06-2018")..Date.parse("01-12-2018")).map {|o| o.user} %>
        <%= users.count %>
      </div>
    </div>
  </div>
  </div>
</div>

<br>
<br>
<br>

<div class="container">
  <div class="row">
    <% User.all.each do |user| %>
      <div class="col-xs-6 col-sm-3">
        <div class="card dashboard-users-card">
          <h5><img style="height:15px" src="../assets/single_user_black_icon.png" alt="user"> Customer: <%= user.first_name %> <%= user.last_name %></h5>
          <p><img style="height:15px" src="../assets/order_black_icon.png" alt="Service"> Orders: <%= user.orders.count %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
