<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 form">
      <h1>Edit order</h1>
      <%= simple_form_for [@order] do |f| %>
        <div class="form-inputs">
          <%= f.input :deceased_first_name %>
          <%= f.input :deceased_last_name%>
          <%= f.input :deceased_address%>
          <%= f.input :date_of_death, as: :string, input_html: {class: "datepicker"} %>
          <%= f.button :submit, "Create order" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
