<div class="container">
      <% @orders.each do |order| %>

        <div class="row">
          <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            <div class="main-card">
              <h1>Order Summary</h1>
              <hr/>
              <%= link_to "Details", order_path(order),class:"btn btn-primary btn-sm" %>
              <br>
              <br>
              <h3>Order Details <!-- #<%= order.id %> --></h3>
              <hr/ style="width: 50%">
              <p>Order Date: <%= order.created_at %></p>
              <p>Customer: <%= order.user.first_name %> <%= order.user.last_name %></p>
              <p>Deceased identity: <%= order.deceased_first_name %> <%= order.deceased_last_name %></p>
              <p>Deceased address: <%= order.deceased_address %></p>

              <p><strong> Order Total: <%= order.invoice_amount %>€ </strong></p>

              <h1>Selected Services</h1>
              <hr/ style="width: 50%">


              <div class="row">
                <%  order.chosen_services.each do |service|%>
                    <div class="col col-xs-12 col-sm-4">
                      <div class="order-card">
                        <div class="card-body">
                          <div class="order-card-subtotal">
                              <p><%= service.description %></p>
                              <p>Completed tasks: <%= order.state_per_service(service) %></p>
                              <p class="card-text"><strong> Service Subtotal: <%= order.price_per_service(service) %>€ </strong></p>
                              </div>
                              <div class="order-card-service-name">
                              <h5 class="card-title"><%= service.name %> </h5>
                          </div>
                        </div>
                      </div>
                    </div>
                <% end %>
              </div>


               <%= link_to "Edit this order", order_order_items_path(order),class:"btn rounded-btn" %>
              <%= link_to "Delete this order", order_path(order), method: :delete, class:"btn rounded-btn" %>
            </div>
          </div>
        </div>
      <% end %>

</div>

