

  <% @order.order_items.each do |order_item| %>
    <% if order_item.completed == false && order_item.service_item.category == "task" %>
      <li><%= order_item.service_item.content %> : <%= order_item.content %></li>
    <% end %>
  <% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 main-card">

      <h1>Services Order Overview</h1>
      <%= link_to "Back to Overview", orders_path,class:"btn btn-primary btn-sm" %>

      <h3>Order Details <!-- #<%= @order.id %> --></h3>
      <li>Customer: <%= @order.user.first_name %> <%= @order.user.last_name %></li>
      <li>Status: <%= @order.status %></li>
      <li>Invoice: <%= @order.invoice_amount %></li>
      <li>Deceased identity: <%= @order.deceased_first_name %> <%= @order.deceased_last_name %></li>
      <li><%= @order.deceased_address %></li>
      <% order_total = @order_total %>
      <h4> Order Total <%= @order_total %> </h4>

      <h1>Services we will help you with</h1>
      <% @order_total = 0 %>
        <% @services.each do |service| %>
          <h3><%= service.name %></h3>
          <% service.service_items.each do |item| %>
            <div class="form-group">
            <% order_item = @order.order_items.find_by(service_item: item)%>
            <%= item.content %> | <%= order_item.content %>
            </div>
          <% end %>
        <h4> Subtotal <%= @order.price_per_service(service) %> </h4>
        <% end %>
        <h4> Order Total <%= @order.invoice_amount %> </h4>
      <%= link_to "Edit this order", order_order_items_path(@order),class:"btn btn-info btn-sm" %>
      <%= link_to "Delete this order", order_path(@order), method: :delete, class:"btn btn-danger btn-sm" %>
    </div>
  </div>
</div>
