<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 main-card">

      <h1>Order Details</h1>
      <hr/>
        <% if current_user.admin? %>
          <%= link_to "Back to dashboard", admin_orders_path,class:"rounded-btn-no-flex" %>
        <% else  %>
      <%= link_to "Back to Overview", orders_path,class:"rounded-btn-no-flex" %>
          <% end %>
      <br><br>
      <p>Customer: <%= @order.user.first_name %> <%= @order.user.last_name %></p>
      <p>Status: <%= @order.status %></p>
      <p>Deceased identity: <%= @order.deceased_first_name %> <%= @order.deceased_last_name %></p>
      <p><%= @order.deceased_address %></p>
      <% order_total = @order_total %>
      <p><strong> Order Total <%= @order.invoice_amount %>€ </strong></p>

      <h1>Selected Services</h1>
      <hr/ style="width: 50%">

      <br>
      <%= link_to "Edit this order", order_order_items_path(@order),class:"rounded-btn-no-flex" %>
      <%= link_to "Delete this order", order_path(@order), method: :delete, class:"rounded-btn-no-flex" %>
      <br><br>

        <div class="row">
          <%  @order.chosen_services.each do |service|%>
            <div class="col col-xs-12">
              <div class="order-card">
                <div class="card-body">
                  <div class="order-details-card">
                    <p><strong><%= service.description %></strong></p>
                    <% service.service_items.each do |item| %>
                      <div class="form-group">
                      <% order_item = @order.order_items.find_by(service_item: item)%>
                      <%= item.content %> | <%= order_item.content %>
                      </div>
                    <% end %>
                    <p class="card-text"><strong> Service Subtotal: <%= @order.price_per_service(service) %>€ </strong></p>
                  </div>
                  <div class="order-card-service-name">
                    <h4 class="card-title"> <%= service.name %> </h4>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>

      <br> <%= link_to "Back to Overview", orders_path,class:"rounded-btn-no-flex" %>
    </div>
  </div>
</div>
