<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 form">
      <%= form_for @order do |f| %>
      <% Service.all.each do |service| %>
        <h1><%= service.name %></h1>
        <% service.service_items.each do |item| %>
        <div class="form-group">
          <%= item.content %>
          <!-- Checking if there is an item -->
          <% order_item = @order.order_items.find_by(service_item: item) || OrderItem.create(service_item: item, order: @order) %>
          <input type="<%= item.data_type %>" value="<%= order_item.content %>" name="order_items[<%= order_item.id %>]" id="<%= 'order_deceased_address' if item.content.include?("address") %>" class=“order_item_form” >
        </div>
        <% end %>
      <% end %>
      <%= f.button :submit, class:"btn btn-primary btn-lg" %>
      <% end %>
    </div>
  </div>
</div>




