<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 main-card">

       <%= render 'shared/timeline' %>

      <% if @order.order_items.exists?%>
      <%#= link_to "Back to Order Overview", orders_path,class:"btn btn-primary btn-sm" %>
      <% end %>

      <%= form_for @order do |f| %>
        <% @order.chosen_services.each_with_index do |service, index| %>
          <div id="servicesDiv" data-servicelength="<%= @order.chosen_services.length %>">
            <div class="sub-form form-step" <%= 'hidden' if index > 0 %> id="step-<%= index + 1 %>">
              <h1><%= service.name %></h1>
              <hr/>
              <p> <%= service.description %></p>
              <br>
              <h4>Details</h4>
              <div class="form-input-width-80">
                <hr/>
                <% service.service_items.each do |item| %>
                  <div class="input-wrapper">
                    <div class="item-content">
                      <%= item.content %>
                    </div>
                    <!-- Checking if there is an item -->
                    <% order_item = @order.order_items.find_by(service_item: item) || OrderItem.create(service_item: item, order: @order) %>
                    <div class="item-content">
                      <% if item.data_type == "yes or no" %>
                        <select name="order_items[<%= order_item.id %>]" style="width:100%" type="<%= item.data_type %>" value="<%= order_item.content %>" name="order_items[<%= order_item.id %>]" class= " input ">
                          <option value="yes">yes</option>
                          <option value="no">no</option>
                        </select>
                 <!--      <input style="width:100%" type="<%= item.data_type %>" value="<%= order_item.content %>" name="order_items[<%= order_item.id %>]" collection="['yes'], ['n']" > -->
                      <% else %>
                        <input style="width:100%" type="<%= item.data_type %>" value="<%= order_item.content %>" name="order_items[<%= order_item.id %>]" id="<%= 'order_deceased_address' if item.data_type.include?("address") %>" class= "<%= 'datepicker' if item.data_type.include?("date") %> <%= 'datepicker-time' if item.data_type.include?("datetime-local") %> input <%= 'dropdown' if item.data_type.include?("yes or no") %>">
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>

        <br>
        <%= f.button :"Submit Order", id:"submit", class:"btn rounded-btn-no-flex submit submit"  %>

        <br>

      <% end %>
      <br>

      <button class="btn rounded-btn-no-flex" id="previous">Previous</button>
      <button class="btns rounded-btn-no-flex" id="next">Next</button>

    </div>
  </div>
</div>


